---
# This is not a work of art, but out of necessity. I know this can be made much nicer

- name: Import Spotlight maintenance tasks
  ansible.builtin.import_tasks: spotlight.yml

# Check disk
- name: Run 'diskutil verifyVolume /'
  ansible.builtin.command: "diskutil verifyVolume /"
  become: true
  tags: maintenance

# flush DNS
- name: Run 'dscacheutil -flushcache && killall -HUP mDNSResponder'
  ansible.builtin.command: "dscacheutil -flushcache && killall -HUP mDNSResponder"
  become: true
  tags: maintenance

# empty all Trashes
- name: Run 'rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash;'
  ansible.builtin.command: "rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash;"
  become: true
  tags: maintenance, skip_ansible_lint

# Delete launch service quarantine (list of all files ever downloaded)
# Originally from: https://gist.github.com/flipphillips/ae200a3269ba714b8733fff0e1269cc8
- name: Delete LaunchServices quarantine events
  ansible.builtin.shell: |
    sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* \
      'delete from LSQuarantineEvent'
  tags: maintenance
  failed_when: false

- name: Vacuum LaunchServices quarantine database
  ansible.builtin.shell: |
    sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* \
      'vacuum LSQuarantineEvent'
  tags: maintenance
  failed_when: false

# Reset LaunchServices db
# Splitting this into 2 lines to stay under our line limit of 180 chars
- name: Clean up LaunchServices to remove duplicates in the “Open With” menu
  ansible.builtin.command: >
    /System/Library/Frameworks/CoreServices.framework/Frameworks/LaunchServices.framework/Support/lsregister
    -kill -r -domain local -domain system -domain user && killall Finder
  become: true
  tags: maintenance

# Purge memory
- name: Purge inactive memory
  ansible.builtin.command: sudo purge
  become: true
  tags: maintenance

# - name: Delete all .DS_Store files
#   ansible.builtin.command: find ~/ -name ".DS_Store" -exec rm {} \;
#   become: true
#   tags: maintenance

# Run rm -rf ~/Library/Caches/*
- name: Run 'rm -rf ~/Library/Caches/*'
  ansible.builtin.file:
    path: '~/Library/Caches/'
    state: absent
  become: true
  tags: maintenance

- name: Clear print queue
  ansible.builtin.command: cancel -a -
  tags: maintenance
