---
- name: Configure Homebrew taps
  community.general.homebrew_tap:
    name: "{{ item }}"
  loop: "{{ brew_taps }}"
  tags: brew

- name: Install Homebrew formulae
  community.general.homebrew:
    name: "{{ brew_packages }}"
    state: present
  tags: brew

- name: Install Homebrew casks
  community.general.homebrew_cask:
    name: "{{ item }}"
    greedy: true
    state: present
  loop: "{{ brew_cask_packages }}"
  tags: brew

- name: Install QuickLook plugins
  community.general.homebrew_cask:
    name: "{{ item }}"
    state: latest
  loop: "{{ brew_cask_ql_packages }}"
  tags: brew

- name: Update brew itself
  community.general.homebrew:
    update_homebrew: true
  tags: brew

- name: Upgrade all brew packages
  community.general.homebrew:
    upgrade_all: true
  tags: brew

- name: Update & upgrade casks
  community.general.homebrew_cask:
    upgrade_all: true
  tags: brew

- name: Cleanup brew
  ansible.builtin.command: brew cleanup
  changed_when: false
  tags: brew

# Delete brew caches
- name: Find brew cache path
  ansible.builtin.command: brew --cache
  register: brew_cache_path
  changed_when: false
  tags: maintenance, softwareupdate

- name: Delete brew cache
  ansible.builtin.file:
    path: '{{ brew_cache_path.stdout }}'
    state: absent
  tags: maintenance, softwareupdate

- name: Repair taps
  ansible.builtin.command: brew tap --repair
  changed_when: false
  tags: maintenance, softwareupdate
